@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);@import url(https://fonts.googleapis.com/css?family=Roboto);body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html, body, #app, .container {
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    background: #e5e5e5;
    background-image:url(images/rocketpax.png);
}

.chat-input input[type="text"] {
    margin: 10px 0px;
    margin-left: 30px;
    margin-right: 30px; 
    height: 55px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    color: #424242;
    font: 400 1rem "Roboto", sans-serif;
    width: 80%;
    border: 1px solid #dee0e0;
    padding: 0 20px;
    -webkit-transition: border-color 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}

.chat-input input[type="text"]:focus {
    outline: none !important;
}

.container {
    display: flex;
    flex-direction: column;
}

.messages {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: ghostwhite;
    text-align: center;
    padding: 20px 0;
    color: black
}

h3 {
    margin: 40px;
    padding: 20px 0;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    background: #204030;
    color: white;
    border-bottom: 1px solid #ddd;
}

.chat-input {
    position: relative;
    overflow: hidden;
    padding: 0 40px;
    flex-shrink: 0;
}

.chat-input input[type="text"] {
    width: 91.7%;
    margin-left: -20px;
    /* margin-right: -20px; */
}

.chat-input button {
    margin-left: 12px;
    padding: 6px 20px;
    font: 500 16px/25px 'Roboto';
    text-transform: uppercase;
    color: #fff;
    background: #00796B;
    border-width: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    transition: background-color .3s;
}

.chat-input input[type="text"]:focus::-webkit-input-placeholder {
    color: #1abc9c;
    font-size: 14px;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    visibility: visible !important;
}

.chat-input button {
    margin-left: 8px;
    padding: 10px 18px;
    font: 500 16px/22px "Roboto", sans-serif;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background: #1abc9c;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.message-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.username {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #999;
    flex: 1 1;
}

.message-body {
    margin: 10px;
    padding: 20px 40px 20px 20px;
    background-color: #fff;
    border: 1px;
    border-radius: 5px;
    flex: 1 1;
}

.message-container.from-me {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.username.from-me {
    flex: 1 1;
}

.message-body.from-me {
    padding: 20px 20px 20px 40px;
    flex: 1 1;
}
h1, 
input[type="submit"],
input::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

h1 {
	height: 100px;
	width: 100%;
	font-size: 24px;
	background: #204030;
	color: white;
	line-height: 150%;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.username-container {
	box-sizing: border-box;
	width: 300px;
	margin: 100px auto 0;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	padding-bottom: 20px;
	border-radius: 3px;
}

.username-container h1 {
	box-sizing: border-box;
	padding: 20px;
}

.username-container input {
	margin: 40px 25px;
	width: 250px;
	display: block;
	border: none;
	padding: 10px 0;
	border-bottom: solid 1px #1abc9c;
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background: -o-linear-gradient(rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background: linear-gradient(rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
	background-position: -250px 0;
	background-size: 250px 100%;
	background-repeat: no-repeat;
	color: #0e6252;
}

.username-container input[type="text"]:focus,
.username-container input[type="text"]:valid {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}

.username-container input[type="submit"] {
	font-size: 14px;
	border: none;
	background: #204030;
	cursor: pointer;
	border-radius: 4px;
	padding: 10px;
	width: 250px;
	color: white;
	margin-left: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.username-container input[type="submit"]:hover {
	-webkit-transform: translateY(-3px);
	    -ms-transform: translateY(-3px);
	        transform: translateY(-3px);
			box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.username-container input[type="text"]:focus::-webkit-input-placeholder, 
.username-container input[type="text"]:valid::-webkit-input-placeholder {
	color: #1abc9c;
	font-size: 14px;
	-webkit-transform: translateY(-20px);
	        transform: translateY(-20px);
			visibility: visible !important;
}
